Tôi đã tạo folder scaffold_export ( đầy là folder được tạo ra từ 1 dự án về pipeline ML) 
Tôi muốn bạn áp dụng ý tưởng được tổng hợp từ dự án đó bên trong folder scaffold_export để xây dựng pipeline ML cho dự án hiện tại. 

- Lưu ý về folder scaffold_export:
ingest_adapter.py hiện là ví dụ; nếu project hiện tại dùng S3/ADLS/GCS
Nếu project hiện tại không có src.model.train, cần copy phần logic training từ dự án hiện tại 

- Về dữ liệu được lấy từ silver, đây là mẫu lệnh mà tôi thường dùng để kiểm tra dữ liệu trong silver và kết quả của mẫu lệnh đó:
docker exec -it trino trino --execute "
SELECT 'clean_hourly_energy' as table_name,
       MIN(date_hour) as min_hour,
       MAX(date_hour) as max_hour,
       COUNT(DISTINCT date_hour) as unique_hours,
       COUNT(*) as total_rows
FROM iceberg.silver.clean_hourly_energy
UNION ALL
SELECT 'clean_hourly_weather',
       MIN(date_hour),
       MAX(date_hour),
       COUNT(DISTINCT date_hour),
       COUNT(*)
FROM iceberg.silver.clean_hourly_weather
UNION ALL
SELECT 'clean_hourly_air_quality',
       MIN(date_hour),
       MAX(date_hour),
       COUNT(DISTINCT date_hour),
       COUNT(*)
FROM iceberg.silver.clean_hourly_air_quality;"

"weather","2024-01-01 00:00:00.000000 UTC","2025-10-31 23:00:00.000000 UTC","16080","80400"
"air_quality","2024-01-01 00:00:00.000000 UTC","2025-10-31 23:00:00.000000 UTC","16080","80400"
"timeseries","2024-01-01 00:00:00.000000 UTC","2025-10-31 23:00:00.000000 UTC","16079","80395"

Yêu cầu cần có:
- Dữ liệu dùng để train được lấy từ Silver ( 4 bảng )
- Trước mắt, chỉ cần có mô hình train được lấy dữ liệu từ silver, sau đó hiển thị trên ml_flow
- Chỉ lấy 1 phần dữ liệu từ silver để test trước để đảm bảo không mất quá nhiều thời gian cho việc thử nghiệm
- Bạn phải xuất được kết quả train, các thông số về độ tin cậy/ tối ưu cần có ra màn hình để tôi kiểm định
- Về sau kết quả train sẽ chính thực được lưu vào silver